/*
font-family: 'Ysabeau', sans-serif;
*/
body {
    font-family: 'Ysabeau', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../Imagenes/BG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #f0ffff;
    padding: 16px 0;
    height: 150px;
    margin: 0%;

}

header h1 {
    color: black;
    font-size: 40px;
    font-weight: 100;
    align-items: center;
    display: inline-block;
    position: relative;
    bottom: 70px;
    margin-left: 10px;
}

nav {
    background-color: #d5f1f1;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a.activo {
    background-color: #22c08b;
}

footer {
    font-size: small;
    clear: both;
    text-align: center;
    padding: 5px;
    margin-bottom: 0%;

}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    font-weight: 400;
}

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.intro p {
    font-size: 20px;
    text-align: justify;
}

.dibujo {
    display: flex;
}

.ListaDeGeneros {
    display: flex;
    justify-content: space-between;
}

.genero {
    border: 1px solid black;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.genero img {
    max-width: 60%;
    border-radius: 5px;
}

.genero h5 {
    font-size: 20px;
    margin-top: 5px;

}

.genero p {
    font-size: 13px;
}

.serieopelicula{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32;
    align-items: center;
}
.serieopelicula .info h4{
    color: black;
    font-weight: 500;
    border-bottom: 1px solid;
    padding: 10px;
}

.serieopelicula img{
    border-radius: 13px;
    display: block;
    max-width: 100px;
    padding: 10px;
}